:root {
  --line-width: 0.5ch;
  --border-width: calc(var(--line-width) / 2);
  --duration: 2s;
  --spine-length: 5ch;
  --spine-height: calc(var(--spine-length) * 0.5);
  --page-length: 7ch;
  --cover-length: calc(var(--page-length) + 0ch);
  --page-offset-y: 0.4ch;
  --page-offset-x: 0.5ch;
  --page-anim-offset: calc(2s / 4);
  --width: calc(2 * var(--cover-length) + var(--spine-length) + 2 * var(--line-width));
  --wrapper-width: calc(var(--cover-length) + var(--line-width) + var(--spine-length) / 2);
  --height: calc(var(--wrapper-width) + var(--spine-height) + var(--page-offset-y));
  --border-radius: 15px;
}

.book-loader-container {
  position: relative;
  width: var(--width);
  height: var(--height);
  margin: 0;
  padding: 0;
}

.book-loader-container .spine {
  border: var(--line-width) solid var(--color);
  border-top: none;
  border-radius: 0 0 9px 9px;
  position: absolute;
  width: var(--spine-length);
  height: var(--spine-height);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.book-loader-container .spine::after,
.book-loader-container .spine::before {
  content: "";
  position: absolute;
  border: solid var(--border-width) var(--color);
  border-radius: var(--border-radius);
  width: calc(var(--cover-length) + var(--line-width));
  top: 0;
}

.book-loader-container .spine::after {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  left: 0;
  transform: translateX(calc(var(--spine-length) - var(--line-width)));
}

.book-loader-container .spine::before {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  right: 0;
  transform: translateX(calc(-1 * var(--spine-length) + var(--line-width)));
}

.book-loader-container .page {
  width: var(--wrapper-width);
  position: absolute;
  right: 0;
  bottom: calc(var(--spine-height) + var(--page-offset-y));
  transform-origin: left center;
}

.book-loader-container .page:not(.static) {
  animation: rotation var(--duration) linear infinite;
  animation-delay: calc((var(--page-num) - 1) * var(--page-anim-offset));
}

.book-loader-container .page.left {
  left: 0;
}

.book-loader-container .page.right {
  right: 0;
}

.book-loader-container .page::after {
  content: "";
  display: block;
  border: solid var(--border-width) var(--color);
  border-radius: 15px;
  width: var(--page-length);
}

.book-loader-container .page.left::after {
  transform: translateX(calc(1 * (var(--wrapper-width) - var(--page-length)) - (var(--spine-length) / 2) + var(--line-width) - var(--page-offset-x)));
}

.book-loader-container .page:not(.left)::after {
  transform: translateX(calc((var(--spine-length) / 2 - var(--line-width)) + var(--page-offset-x)));
}

.wrapper {
  min-width: 10ch;
  min-height: 10ch;
}

@keyframes rotation {
  to {
    transform: rotate(-180deg);
  }
}
