
.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
.loading-text span {
    animation: dot 1.3s infinite;
    display: inline-block;
    margin-left: 5px;
}
  
@keyframes dot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
  
.loading-text span:nth-child(2) { animation-delay: 0.2s; }
.loading-text span:nth-child(3) { animation-delay: 0.4s; }
  